@font-face {
  font-family: 'fiveringsdb';
  src:  url('assets/fonts/fiveringsdb.eot?yn5wqh');
  src:  url('assets/fonts/fiveringsdb.eot?yn5wqh#iefix') format('embedded-opentype'),
    url('assets/fonts/fiveringsdb.ttf?yn5wqh') format('truetype'),
    url('assets/fonts/fiveringsdb.woff?yn5wqh') format('woff'),
    url('assets/fonts/fiveringsdb.svg?yn5wqh#fiveringsdb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fiveringsdb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.icon-fw {
  width: 18px;
  display: inline-block;
  text-align: center;
}

.icon-unique:before {
  content: "\e90e";
}
.icon-conflict-military:before {
  content: "\e900";
}
.icon-conflict-political:before {
  content: "\e901";
}
.icon-element-air:before {
  content: "\e902";
}
.icon-element-earth:before {
  content: "\e903";
}
.icon-element-fire:before {
  content: "\e904";
}
.icon-element-void:before {
  content: "\e905";
}
.icon-element-water:before {
  content: "\e906";
}
.icon-clan-neutral:before {
  content: "\e90f";
}
.icon-clan-crab:before {
  content: "\e907";
}
.icon-clan-crane:before {
  content: "\e908";
}
.icon-clan-dragon:before {
  content: "\e909";
}
.icon-clan-lion:before {
  content: "\e90a";
}
.icon-clan-phoenix:before {
  content: "\e90b";
}
.icon-clan-scorpion:before {
  content: "\e90c";
}
.icon-clan-unicorn:before {
  content: "\e90d";
}
.icon-element-all:before {
  content: "\e910";
}
