html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 74px;
}
.card-text em {
    font-weight: 700;
}
.popover {
    max-width: 360px;
    padding: 0;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.popover-body {
    padding: 0;
}
.popover-card {
    border: none;
}
